* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-page-color: #F2F5F9;
    --background-card-color: #FFFFFF;
    --title-color: #111729;
    --paragraph-color: #677489;
}

body {
    background-color: var(--background-page-color);
}

.card {
    margin: 7em auto;
    width: 418px;
    background-color: var(--background-card-color);
    border-radius: 16px;
}

.card-header {
    display: flex;
    flex-direction: column;
}

.card-header .image {
    border-radius: 16px;
    width: 100%;
}

.card-header .overlay {
    margin-top: 215px;
    position: absolute;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
}

.card-content h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--title-color);
    font-size: 24px;
    font-weight: 500;
}

.card-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
    line-height: 21px;
    color: var(--paragraph-color);
}

.card hr {
    border: 1px solid var(--background-page-color);
    margin-top: 21px;
}

.card-footer {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
    "avatar content-title"
    "avatar content-about";
    padding: 21px;
}

.card-footer img {
    grid-area: avatar;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid var(--background-page-color);
}

.card-footer h1 {
    grid-area: content-title;
    padding-top: 5px;
    font-family: 'Leto', sans-serif;
    color: var(--title-color);
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
}

.card-footer p {
    grid-area: content-about;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 550;
    color: var(--paragraph-color);
}